/* Add CSS Styling */

.one {
    color: white;
    background-color: black;
}

.two {
    background-color: yellow;
}

body button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}